<div class="row">
  {{ui/icon-button
      class="deleteLocation"
      type="delete"
      label="Delete Location"
      size=1.5
      flat=true
      backgroundColor=colors.DARK_GREY
      padding=0.5
      click=(action "archiveLocation" model)
  }}
</div>
<div class="row stretch">
  {{sections/locations/notification-rules
      model=model
      createNotification=(action "createNotification" model)
      saveNotification=(action "saveNotification")
      deleteNotification=(action "deleteNotification")}}
</div>
<div class="row wrap">
  <div class="col stretch section">
    {{sections/locations/location-settings
        model=model
        save=(action "saveLocation")}}
    {{sections/locations/address-manager
        changeset=(changeset model.address.content AddressValidations)
        addresses=addresses
        switchAddress=(action "switchAddress" model)
        saveAddress=(action "saveAddress" model)}}
    {{sections/locations/schedule-manager
        model=model
        onVisitDayChange=(action "onVisitDayChange")
        onVisitWindowChange=(action "onVisitWindowChange")
        onVisitWindowDayChange=(action "onVisitWindowDayChange")
        createVisitWindow=(action "createVisitWindow")
        deleteVisitWindow=(action "deleteVisitWindow")
    }}
  </div>
  <div class="col stretch section">
    {{sections/locations/item-settings
        itemSettings=itemSettings
        onDesireChange=(action "updateItemDesire")
        onCreditChange=(action "updateItemCreditRate")
        massApplyCreditRate=(action "massApplyCreditRate" model)
        massApplyDesire=(action "massApplyDesire" model)}}
  </div>
</div>