{{preferencesService.locationNoteIsClose}}

{{#ui/collapsible-container
  title="Location note"
  isClose=preferencesService.locationNoteIsClose
  toggle=(action preferencesService.togglePreferene "something")
}}

<button type="button" name="button" {{action "testClick"}}>Click</button>
  <textarea
  rows="15"
  cols="100"
  name="note"
  value="{{locationNote}}"
  oninput={{action "noteChanged"}}
  onchange={{action "noteChanged"}}
  onblur={{action save locationNote}}>
  </textarea>
{{/ui/collapsible-container}}
