{{ui/order-editor
    model=model
    items=filteredItems
    updateShipping=(action "updateShipping")
    saveOrder=(action "saveOrder")
    createOrderItem=(action "createOrderItem")
    updateOrderItem=(action "updateOrderItem")
    saveOrderItem=(action "saveOrderItem")
    deleteOrderItem=(action "deleteOrderItem")
    onOrderItemChange=(action "onOrderItemChange")
    emailOrder=(action "emailOrder" model)
    deleteOrder=(action "deleteOrder" model)
    toggleOrderState=(action "toggleOrderState" model)
    updateDeliveryDate=(action "updateDeliveryDate" model)}}
{{#sticky-container}}
  <div class="row top wrap">
    {{charts/location-item-info
        item=item
        location=model.location
        itemTotals=itemTotals
        salesData=salesData.lastObject
        isLoading=loadingFbData}}
    {{sections/locations/location-note
        locationNote=model.location.note
        save=(action "saveLocationNote" model.location)}}
    {{charts/item-location-sales-trend
        item=item
        salesData=salesData
        isLoading=loadingFbData}}
    {{charts/item-totals
        orders=salesOrders}}
  </div>
{{/sticky-container}}